<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="../static/style.css" rel="stylesheet" type="text/css">
  <title>Main page</title>
</head>

<body>
  <div class='holdAll'>
    <div class='nameOfAlcohol'>Name
      <% if(alcohol === 'ginfizz'){ %>
      <ul class='alcohol'>
        <li>
          <%=listItem1 %>
        </li>
      </ul>
      <% }%>
      <% if(alcohol === 'bloodymary'){ %>
      <ul class='alcohol'>
        <li>
          <%=listItem2 %>
        </li>
      </ul>
      <% }%>
      <% if(alcohol === 'sexonthebeach'){ %>
      <ul class='alcohol'>
        <li>
          <%=listItem3 %>
        </li>
      </ul>
      <% }%>
      <% if(alcohol === 'cubalibre'){ %>
      <ul class='alcohol'>
        <li>
          <%=listItem4 %>
        </li>
      </ul>
      <% }%>
      <% if(alcohol === 'mojito'){ %>
      <ul class='alcohol'>
        <li>
          <%=listItem5 %>
        </li>
      </ul>
      <% }%>
      <% if(alcohol === 'longisland'){ %>
      <ul class='alcohol'>
        <li>
          <%=listItem6 %>
        </li>
      </ul>
      <% }%>
      <% if(alcohol === 'virginmojito'){ %>
      <ul class='alcohol'>
        <li>
          <%=listItem7 %>
        </li>
      </ul>
      <% }%>
      <% if(alcohol === 'safesexonthebeach'){ %>
      <ul class='alcohol'>
        <li>
          <%=listItem8 %>
        </li>
      </ul>
      <% }%>
    </div>
    <div class='priceOfAlcohol'>
      Price
      <% if(alcohol === 'ginfizz'){ %>
      <ul class='alcohol'>
        <li>
          <%=priceItem1 %>
        </li>
      </ul>
      <% }%>
      <% if(alcohol === 'bloodymary'){ %>
      <ul class='alcohol'>
        <li>
          <%=priceItem2 %>
        </li>
      </ul>
      <% }%>
      <% if(alcohol === 'sexonthebeach'){ %>
      <ul class='alcohol'>
        <li>
          <%=priceItem3 %>
        </li>
      </ul>
      <% }%>
      <% if(alcohol === 'cubalibre'){ %>
      <ul class='alcohol'>
        <li>
          <%=priceItem4 %>
        </li>
      </ul>
      <% }%>
      <% if(alcohol === 'mojito'){ %>
      <ul class='alcohol'>
        <li>
          <%=priceItem5 %>
        </li>
      </ul>
      <% }%>
      <% if(alcohol === 'longisland'){ %>
      <ul class='alcohol'>
        <li>
          <%=priceItem6 %>
        </li>
      </ul>
      <% }%>
      <% if(alcohol === 'virginmojito'){ %>
      <ul class='alcohol'>
        <li>
          <%=priceItem7 %>
        </li>
      </ul>
      <% }%>
      <% if(alcohol === 'safesexonthebeach'){ %>
      <ul class='alcohol'>
        <li>
          <%=priceItem8 %>
        </li>
      </ul>
      <% }%>
    </div>
  </div>
</body>

</html>